export TWILIO_ACCOUNT_SID=
export TWILIO_AUTH_TOKEN=
export TWILIO_NUMBER=
export HNLMAKERFAIRE_USERNAME=
export HNLMAKERFAIRE_PASSWORD=
export HNLMAKERFAIRE_ENVIRONMENT=Development
export HNLMAKERFAIRE_DATABASE=/tmp/hnlmakerfaire.db
