{% import '_forms.html' as forms %}

{% extends 'admin/base.html' %}

{% block main_content %}

<div class="page-header">
    <h1>Add Phone Number</h1>
</div>

<form method="POST" action="{{ url_for('admin_add_phone_number') }}">
    {{ form.crsf_token }}
    <fieldset>
    <div class="form-group">
        {{ form.phone_number.label }}
        {{ form.phone_number(class_="form-control") }}
        {% if form.phone_number.errors%}
          <div class="alert alert-danger" role="alert">
          {{ form.phone_number.errors|join(' ') }}
          </div>
        {% endif %}
    </div>
    {% for raffle in form.raffle_numbers %}
        {{ forms.render(raffle) }}
    {% endfor %}
    </fieldset>
    <input type="submit" value="Add">
</form>

{% endblock main_content %}
