{% extends 'admin/base.html' %}

{% block main_content %}

<div class="page-header">
    <h1>Phone Numbers Claiming {{ raffle_number }}</h1>
</dev>

{% if phone_number_raffle_numbers %}
<table class="table">
    <thead>
        <tr>
            <th>Phone Number</th>
            <th>Number of times<br/> admin notified</th>
            <th>Number of times<br/> system notified</th>
        </tr>
    </thead>
    <tbody>

    {% for pn_rn in phone_number_raffle_numbers %}
        <tr>
            <td>{{ pn_rn.phone_number.phone_number }}</td>
            <td>{{ pn_rn.num_admin_notified }}</td>
            <td>{{ pn_rn.num_system_notified }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endif %}

{% endblock main_content %}
